<%- include('partials/header') %>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Awesome!</h1>
    <p class="lead">Thankyou for being the part of <strong>Mindspark</strong> Team!
    </p>
    <button value="<%=name%>" id="downloadBtn" class="btn my-2 btn-lg btn-warning">Download
        Certificate</button>
</div>


<%- include('partials/footer') %>